body {
    background-image: "https://media.istockphoto.com/id/1433196585/photo/above-the-horizon-at-dusk.jpg?s=612x612&w=0&k=20&c=orVTDteq2e6Rq1f8ioy1ggc5ca2UUhuvapInk89NNGg=";
    background-image: linear-gradient(#A91D3A, #151515);;
    text-align: center;
    color: aliceblue;
    font-family: Shadows Into Light;
    font-size: 2em;
}
